spring:
  application:
    name: FormFullStack
  datasource:
    url: jdbc:postgresql://db:5432/form
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.2
  thymeleaf:
    cache: false
server:
  port: 9805

