

services:

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant-db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: always

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: always

  app:
    build: .
    container_name: appOllama
    ports:
      - "8787:8787"
    depends_on:
      - ollama
      - qdrant
    environment:
      OLLAMA_URL: "http://ollama:11434"
      QDRANT_URL: "http://qdrant:6333"
    restart: always


volumes:
  qdrant_data:
  ollama_models: